<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.greengram.application.user.UserMapper">
    <insert id="signUp" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user
           SET uid = #{uid}
             , upw = #{upw}
             , nm = #{nm}
             , pic = #{pic}
    </insert>

    <select id="findByUid">
        SELECT id, uid, upw, nm, pic, created_at
          FROM user
         WHERE uid = #{uid}
    </select>

    <select id="findProfileUser">
        SELECT u.id, u.pic, u.created_at, u.uid, u.nm
             , count(DISTINCT f.id) AS feedCount
          FROM user u
          LEFT JOIN feed f
            ON f.user_id = u.id
         WHERE u.id = #{profileUserId}
    </select>
</mapper>